
.main {
  display: flex;
  flex: 1;
  max-width: 100%;
  position: relative;
}

@media (min-width: 500px) {
  .main {
    max-width: calc(100% - 6rem);
  }
}

.content {
  display: flex;
  flex: 1;
  overflow: auto;
}

.buttons {
  bottom: 2.4rem;
  right: 2.4rem;
  position: absolute;
}
