
.main {
  display: flex;
  flex: 1;
  position: relative;
}

.content {
  display: flex;
  flex: 1;
  overflow: auto;
}

.buttons {
  bottom: 2.4rem;
  right: 2.4rem;
  position: absolute;
}

.filterBarWrapper {
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -6.8rem;
}

@media (max-width: 775px) {
  .filterBarWrapper {
    display: none;
  }
}

@media (max-width: 1170px) {
  .filterBarWrapper {
    box-sizing: border-box;
    padding-left: 5rem;
  }
}

.filterBar {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 6.8rem;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 100rem;
  padding: 0 2rem;
  width: 100%;
}

.list {
  flex: 1;
}

.gridItems {
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap;
  margin: 0 auto;
  max-width: 100rem;
  padding: 1rem;
  width: 100%;
}

.gridItemWrapper {
  box-sizing: border-box;
  flex: 0 0 100%;
  height: 20rem;
  padding: 1rem;
}

@media (min-width: 650px) {
  .gridItemWrapper {
    flex-basis: 50%;
    height: 25rem;
  }
}

@media (min-width: 900px) {
  .gridItemWrapper {
    flex-basis: 33%;
    height: 30rem;
  }
}

.gridItem {
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;
  padding-left: 1rem;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.gridItemInfo {
  background: linear-gradient(to top, rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
  bottom: 0;
  left: 1rem;
  padding: 1rem;
  padding-top: 25%;
  position: absolute;
  right: 0;
}

.gridItemPicture {
  background: #444 no-repeat;
  background-size: cover;
  filter: blur(10px);
  height: 100%;
  width: 100%;
}

.gridItemCategory,
.gridItemDifficulty,
.gridItemQuestionType {
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  color: #222;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.02rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 0.4rem;
  text-transform: uppercase;
}

.gridItemCategory {
  background: #eee;
  color: #222;
}

.gridItemQuestionType {
  background: #333;
  color: #eee;
}

.gridItemDateCreated {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.1rem;
  padding-bottom: 0.4rem;
  padding-top: 0.2rem;
}

.gridItemDifficultyColorBar {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 1rem;
}

.lightboxPicture {
  width: 100%;
}

.filterSelect {
  margin-left: 1.5rem;
  pointer-events: auto;
}

.tableWrapper {
  box-sizing: border-box;
  padding: 1rem;
}

.table {
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  max-width: 100rem;
  overflow: hidden;
}
