
.main {
  align-items: center;
  background: #754aec url(resources/images/splash-bg.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  opacity: 0;
  transition: opacity 500ms;
  width: 100%;
}
.main__visible {
  opacity: 1;
}

.logo {
  margin-bottom: 3rem;
  width: 14rem;
}

.blurb {
  color: #fff;
  font-size: 2.4rem;
  margin-bottom: 3rem;
  text-align: center;
  width: 36rem;
}

.bold {
  font-weight: 700;
}
