.main {
  display: flex;
  justify-content: space-around;
}

.item {
  align-items: center;
  color: #7f7f7f;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.item__highlighted {
  color: #00796b;
}

.itemIcon {
  font-size: 3.2rem;
}

.itemTitle {
  font-size: 1.4rem;
  padding-top: 0.6rem;
}
