<!doctype html>
<html style="height: 100%;margin: 0;padding: 0;width: 100%;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <meta name="theme-color" content="#754aec">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta property="og:url"           content="http://q7l.io" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:description"   content="<%= htmlWebpackPlugin.options.description %>" />
    <meta property="og:image"         content="http://q7l.io/og-splash.png" />
    <meta property="og:image:type"    content="image/png" />
    <meta property="og:image:width"   content="1200" />
    <meta property="og:image:height"  content="630" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500|Material+Icons" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body style="height: 100%;margin: 0;padding: 0;width: 100%;background: #754aec radial-gradient(circle, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.0) 100%) no-repeat;">
    <div id="root" style="opacity:0.01;-webkit-transition:opacity 200ms;transition: opacity 200ms;"></div>
  </body>
</html>
