
.main {
  background-color: #222;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 100%;
  transform: scale(0);
  transition: transform 500ms cubic-bezier(.4, 0, .2, 1);
}
.main__visible {
  transform: scale(1);
}

.top, .bottomOuter, .bottomInner, .bottomLeft, .bottomMiddle, .bottomRight {
  display: flex;
}

.bottomLeft {
  flex: 0 0;
}

.bottomMiddle {
  flex: 1;
  position: relative;
}

.bottomRight {
  flex: 0 0;
}

.bottomOuter {
  box-sizing: border-box;
  flex: 1;
  padding: 2rem;
  padding-top: 0;
}

.bottomInner {
  border-radius: .2rem;
  flex: 1;
  overflow: hidden;
  position: relative;
}

.bottomFooter {
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  padding: 1.4rem;
  position: absolute;
  right: 0;
  z-index: 3; /* Puts this above the picture which has a z-index of 2. */
}

.questionPictureClickPrompt {
  align-items: center;
  background: rgba(0, 0, 0, .4);
  border-radius: 1.15rem;
  color: #fff;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  left: 50%;
  letter-spacing: .05rem;
  margin-left: -7rem; /* This assumes the prompt is ~140px wide. */
  padding: .5rem 1rem;
  pointer-events: none;
  position: absolute;
  text-transform: uppercase;
  top: 1.4rem;
  z-index: 3; /* Puts this above the picture which has a z-index of 2. */
}

.answerPanelOverlay {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.answerPanelOverlayForeground, .answerPanelOverlayBackground {
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3; /* Puts both above the picture which has a z-index of 2. */
}

.answerPanelOverlayBackground {
  background: #000;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms;
}
.answerPanelOverlay__visible .answerPanelOverlayBackground {
  opacity: .5;
  pointer-events: auto;
}

.answerPanelOverlayForeground {
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  display: flex;
  pointer-events: auto;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.4, 0, .2, 1);
}
.answerPanelOverlay__visible .answerPanelOverlayForeground {
  transform: translateX(0);
}
