
.main {
  background: #f0f0f0;
  border-right: .1rem solid #ccc;
  display: flex;
  max-width: 6.5rem;
}

.questionBoxes {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.questionBox {
  align-items: center;
  border-bottom: .1rem solid #ccc;
  color: #555;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  height: 5rem;
  justify-content: center;
  position: relative;
  width: 6.5rem;
  transition: opacity 250ms, background 250ms, border 250ms;
}
.questionBox__unattempted {
  opacity: .5;
}
.questionBox__unattempted:hover {
  opacity: .8;
}
.questionBox__selected {
  background: #754aec;
  border-bottom: .1rem solid #754aec;
  color: #fff;
  opacity: 1;
}

.questionNumber {
  margin-right: .5rem;
}

.answerStatus {
  transform: translateY(0.3rem);
}
