
.main {
  background: #fff;
  bottom: 0;
  display: none;
  left: -2.4rem;
  opacity: 0;
  position: absolute;
  right: -2.4rem;
  top: -2rem;
  transition: opacity 250ms ease-in-out;
  z-index: 3;
}

.main__mounted {
  display: block;
}

.main__visible {
  opacity: 0.8;
}
