
.main {
  background-color: #fff;
  border-radius: .2rem;
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 250ms ease-in-out;
  z-index: 3;
}

.main__mounted {
  display: block;
}

.main__visible {
  opacity: 0.8;
}

.main__fullscreen {
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
