
.main {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top {
  flex: 0 1 auto;
  max-width: 100%;
}

.bottom {
  display: flex;
  flex: 1 1 auto;
  max-width: 100%;
}

@media (max-width: 500px) {
  .bottom {
    flex-direction: column-reverse;
  }
}
