
.main {
  box-sizing: border-box;
  font-size: 1.6rem;
  width: 100%;
}

.select {
  align-items: flex-end;
  display: flex;
}

.quizLengthLabel {
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.categoryFocusLabel {
  margin-top: 2rem;
}

.quizLengthLabelTitle {
  margin-right: 0.4rem;
}

.quizLengthLabelValue {
  font-weight: 600;
}

.formErrorWrapper {
  max-width: 40vw;
}
@media (max-width: 720px) {
  .formErrorWrapper {
    max-width: 60vw;
  }
}
@media (max-width: 400px) {
  .formErrorWrapper {
    max-width: none;
  }
}

.quizLengthPagerWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.generationStrategyLabel {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  margin-top: -2rem;
  max-width: 100%;
}

.generationStrategyGroupWrapper {
  overflow-y: hidden;
  transition: height 250ms;
  width: 100%;
}

.categorySelectWrapper {
  overflow-y: hidden;
  transition: height 250ms;
  width: 100%;
}
