
.main {
  box-sizing: border-box;
  font-size: 1.6rem;
  padding: 0 4rem;
  position: relative;
  width: 100%;
}

.main.dark .quizLengthLabel,
.main.dark .categoryFocusLabel,
.main.dark .generationStrategyLabel {
  color: #fff;
}

.select {
  align-items: flex-end;
  display: flex;
}

.quizLengthLabel {
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.categoryFocusLabel {
  margin-top: 2rem;
}

.quizLengthLabelTitle {
  margin-right: 0.4rem;
}

.quizLengthLabelValue {
  font-weight: 600;
}

.generationStrategyLabel {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  margin-top: -2rem;
  max-width: 100%;
}

.categorySelectWrapper {
  overflow-y: hidden;
  transition: height 250ms;
  width: 100%;
}
