
.main {
  background: #fff;
  border-radius: .2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  flex: 0 0;
  margin: 1rem;
  min-width: 30rem;
  opacity: 1;
}

.info, .actions {
  display: flex;
}

.info {
  flex: 1;
  flex-direction: column;
  padding: 1.6rem;
}

.actions {
  border-top: 1px solid rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: .8rem 0;
}

.label {
  color: #754aec;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .04rem;
  margin-bottom: 1rem;
  text-align: left;
  text-transform: uppercase;
}

.title {
  font-size: 1.8rem;
}

.quizStatIcon {
  color: #444444;
  font-size: 1.8rem;
  margin-top: 0.1rem;
}

.quizStatText {
  color: #444444;
  font-size: 1.4rem;
  padding-left: 0.8rem;
}

.quizStat {
  align-items: flex-start;
  display: flex;
  margin-bottom: 0.8rem;
}
.quizStat:last-child {
  margin-bottom: 0;
}

.quizStatHighlight {
  font-weight: 500;
}
