
.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.button {
  margin: 1rem 0;
}

.dismissalButton {
  margin-bottom: 1rem;
  margin-top: 2.5rem;
}
