
.main {
  display: flex;
  flex: 1;
  max-width: 100%;
  position: relative;
}

@media (min-width: 500px) {
  .main {
    max-width: calc(100% - 6rem);
  }
}

.content {
  display: flex;
  flex: 1;
  overflow: auto;
}

.buttons {
  bottom: 2.4rem;
  right: 2.4rem;
  position: absolute;
}

.filterBarWrapper {
  box-sizing: border-box;
  left: 0;
  padding: 0 6rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -6.8rem;
}

@media (max-width: 775px) {
  .filterBarWrapper {
    display: none;
  }
}

.filterBar {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 6.8rem;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 100rem;
  padding: 0 2rem;
  width: 100%;
}

.filterBar__wide {
  max-width: 120rem;
  padding: 0;
}

.filterSelect {
  margin-left: 1.5rem;
  pointer-events: auto;
}
