
.main {
  display: flex;
  flex-direction: column;
}

.formErrorWrapper {
  max-width: 40vw;
}
@media (max-width: 720px) {
  .formErrorWrapper {
    max-width: 60vw;
  }
}
@media (max-width: 400px) {
  .formErrorWrapper {
    max-width: none;
  }
}

.forgotPass {
  color: #888;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: right;
}

.forgotPassLink {
  color: #754aec;
  text-decoration: none;
}
