
.main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.middle {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 1.6rem;
  justify-content: center;
  padding: 0 4rem;
}

.bottom {
  display: flex;
  flex-basis: 7rem;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-end;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
}

.formErrorWrapper {
  max-width: 40vw;
}

.forgotPass {
  color: #888;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: right;
}

.forgotPassLink {
  color: #754aec;
  text-decoration: none;
}
