
.main {
  align-items: center;
  border-radius: 4px;
  background: #c62828;
  display: flex;
  flex: 1;
  margin-top: 2rem;
  overflow: hidden;
}

.error {
  align-items: center;
  display: flex;
  padding: 1rem;
}

.icon :global(.material-icons) {
  color: #ffffff;
  font-size: 2.4rem;
}

.text {
  margin-left: 1.2rem;
}

.title {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
}

.message {
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-top: 0.4rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.message__limitedHeight {
  max-height: 4rem;
}
